@import "variables.scss";
@import "mixins/mixins.scss";
@import "mixins/media.scss";
@import "global.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/wrapper.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-heder.scss";
@import "blocks/container.scss";
@import "blocks/presentation.scss";
@import "blocks/page-block.scss";
@import "blocks/logo.scss";
@import "blocks/main-text.scss";
@import "blocks/main-btn.scss";
@import "blocks/main-heading.scss";
@import "blocks/about.scss";
@import "blocks/friends.scss";
@import "blocks/slider.scss";
@import "blocks/help.scss";
@import "blocks/donation.scss";
@import "blocks/page-footer.scss";
