.about {
  align-items: center;
  padding-top: 6%;
  padding-bottom: 7%;
}

.about__heading {
  @include indent();
  padding: 0.2em 0;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  max-width: 82%;
  margin-right: 30px;

  @include media-tablet() {
    max-width: 80%;
    font-size: 35px;
    text-align: left;
    margin-right: 0;
    margin-bottom: 15px;
  }

  @include media-custom(1200px) {
    max-width: 80%;
  }
}

.about__flex {
  @include indent();
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;

  @include media-tablet() {
    padding-top: 25px;
    padding-left: 20px;
  }

  @include media-custom(1200px) {
    max-width: 70%;

    @include indent();
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__flex--inner {
  @include indent();
  width: 100%;
  max-width: 100%;

  @include flex();
  flex-direction: column;
  align-items: center;
  order: 1;
  margin-bottom: 20px;

  @include media-tablet() {
    max-width: 59%;
    align-items: flex-start;
    margin-bottom: 60px;
    margin-right: 50px;
  }

  @include media-custom(1200px) {
    padding-top: 10px;
    margin-right: 0;
    order: 0;
    max-width: 51%;
  }
}

.about__text {
  @include indent();
  letter-spacing: 1.2px;

  @include media-tablet() {
    letter-spacing: 0;
  }
}

.about__text:first-of-type {
  margin-bottom: 20px;

  @include media-tablet() {
    margin-bottom: 25px;
  }

  @include media-custom(1200px) {
    margin-bottom: 25px;
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
}

.about__img {
  display: block;
  margin-bottom: 16px;
  margin-right: 40px;
  order: 2;

  @include media-mobile() {
    max-width: 260px;
    max-height: 353px;
  }

  @include media-tablet() {
    margin-bottom: 50px;
    max-width: 300px;
    max-height: 408px;
  }

  @include media-custom(1200px) {
    order: 0;
    margin-bottom: auto;
  }
}
