.about {
  align-items: center;
  padding-top: 6%;
  padding-bottom: 7%;

  @include media-mobile() {
    // background-color: lightpink;
  }
}

.about__heading {
  @include indent();
  padding: 0.2em 0;
  letter-spacing: 0.1em;
  margin-bottom: 10px;

  @include media-mobile() {
    font-size: 25px;
    text-align: center;
    max-width: 82%;
    margin-right: 30px;
  }

  @include mobile-to-tablet {
    // max-width: 80%;
  }

  @include media-custom(1200px) {
    max-width: 80%;
  }
}

.about__flex {
  @include indent();
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;

  margin-right: auto;
  margin-left: auto;

  @include media-mobile() {
    // outline: 3px dashed black;
    padding-top: 15px;
    padding-left: 15px;
  }

  @include mobile-to-tablet {
    // max-width: 64%;
    // padding-top: 20px;
  }

  @include media-tablet() {
    @include indent();
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-custom(1200px) {
    max-width: 71%;
  }
}

.about__flex--inner {
  @include indent();
  padding: 1.8% 0;
  width: 100%;
  max-width: 100%;

  @include flex();
  flex-direction: column;

  @include media-mobile() {
    align-items: center;
    // padding-bottom: 1%;
  }

  @include mobile-to-tablet {
    // order: 1;
    // margin-bottom: 60px;
  }

  @include media-tablet() {
    // order: 0;
    // max-width: 50%;
  }
}

.about__text {
  // margin-bottom: 10px;
  @include media-mobile() {
    letter-spacing: 0.8px;
  }
}

.about__text:first-of-type {
  @include mobile-to-tablet {
    margin-bottom: 10px;
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
}

.about__img {
  display: block;
  margin-bottom: 20px;

  @include media-mobile() {
    margin-right: 40px;
  }

  @include mobile-to-tablet {
    order: 2;
    // margin-bottom: 50px;
  }

  @include media-tablet() {
    order: 0;
    margin-bottom: 0;
  }
}
