.catalog {
  outline: 3px dashed darkred;

  @include indent();
  @include flex();
  flex-direction: column;
  // align-items: center;
  width: 100%;
  max-width: 100%;
}

.catalog__heading {
  outline: 2px dashed red;

  // font-size: 35px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #545454;

  @include indent();
  margin-bottom: 49px;
  padding-right: 7px;
  width: 100%;
  max-width: 100%;
  // max-width: 25%;
}

.catalog__list {
  @include catalog-list();
  flex-direction: column; // mobile
}

.catalog__item {
  outline: 2px dashed dodgerblue;

  @include catalog-item();
  margin-bottom: 40px;
  // padding: 11% 15%;
  // min-width: 20%;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__img {
  @include catalog-img();
}

.catalog__name {
  @include catalog-name();
}

.catalog .catalog__item-btn {
  @include catalog-btn();
}

.catalog__nav-list {
  @include catalog-list();
  outline: 2px dashed dodgerblue;
  // min-width: 30%;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  // padding: 2px;
  margin-bottom: 21px;
}

.catalog__nav-item {
  @include indent();
}

.catalog__nav-link {
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  // padding: 0.5em 0.7em;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog__nav-link--active {
  background-color: #fddcc4;
}

.catalog__nav-link--disabled {
  opacity: 0.5;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.catalog__item--jennifer,
.catalog__item--sophia,
.catalog__item--charly,
.catalog__item--scarlett,
.catalog__item--freddie {
  display: none;
}
