.catalog {
  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;

  @include media-tablet() {
    align-items: flex-start;
  }
}

.catalog__heading {
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #545454;

  @include indent();
  margin-bottom: 49px;
  width: 100%;
  max-width: 100%;

  @include media-mobile() {
    margin-bottom: 45px;
  }

  @include mobile-to-tablet() {
    outline: 2px dashed deeppink;
    font-size: 35px;
    margin-bottom: 30px;
  }

  @include media-tablet() {
    // font-size: 35px;
    // margin-bottom: 59px;
  }
}

.catalog__list {
  @include catalog-list();
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;

  @include media-mobile() {
    margin-bottom: 10px;
  }

  @include mobile-to-tablet() {
    outline: 2px dashed deeppink;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-around;
  }

  @include media-tablet() {
    // flex-direction: row;
    // margin-bottom: 32px;
    // justify-content: space-around;
  }

  @include media-desktop() {
    justify-content: space-between;
  }
}

.catalog__item {
  @include catalog-item();
  margin-bottom: 30px;

  @include media-mobile() {
    margin-bottom: 29px;
  }
}

.catalog__item-link {
  @include catalog__item-link();

  &:hover .catalog__item-bottom,
  &:focus .catalog__item-bottom {
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item-bottom {
  @include catalog__item-bottom();
}

.catalog__img {
  @include catalog-img();
}

.catalog__name {
  @include catalog-name();
  margin-bottom: 30px;
}

.catalog .catalog__item-btn {
  @include catalog-btn();
}

.catalog__nav-list {
  @include catalog-list();
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;

  @include media-mobile() {
    margin-bottom: 34px;
  }

  @include mobile-to-tablet() {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }

  @include media-tablet() {
    // max-width: 28%;
    // margin-left: 36%;
  }
}

.catalog__nav-item {
  @include indent();
}

.catalog__nav-link {
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog__nav-link--active {
  background-color: #fddcc4;
}

.catalog__nav-link--disabled {
  opacity: 0.5;
  border: 2px solid rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__item--timmy,
.catalog__item--sophia,
.catalog__item--charly,
.catalog__item--scarlett,
.catalog__item--freddie {
  display: none;

  @include media-tablet() {
    // display: flex;
  }
}

.catalog__item--timmy,
.catalog__item--sophia,
.catalog__item--charly {
  @include mobile-to-tablet() {
    display: flex;
  }
}

