.donation {
  background-color: #f6f6f6;
  align-items: center;
  padding-top: 5%;

  @include media-desktop() {
    justify-content: center;
  }
}

.donation__heading {
  text-align: center;

  @include indent();
  letter-spacing: 0.1em;

  @include media-tablet() {
    text-align: left;
  }

  @include media-desktop() {
    max-width: 85%;
    padding: 0.4em;
    padding-bottom: 0.2em;
  }
}

.donation__flex {
  @include flex();
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;

  @include media-tablet() {
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-desktop() {
    max-width: 76%;
  }
}

.donation__flex--inner {
  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;

  @include media-tablet() {
    max-width: 45%;
    align-items: flex-start;
  }

  @include media-desktop() {
    max-width: 43%;
  }
}

.donation__img {
  display: block;
  object-fit: contain;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet() {
    margin: 0;
    max-width: 45%;
  }

  @include media-desktop() {
    max-width: 60%;
  }
}

.donation__smaill-text {
  font-family: "Playfair Display Regular", serif;
  line-height: 1.1;
  letter-spacing: 0.1em;
  color: #545454;
  margin-left: 10px;
  margin-bottom: 20px;
}

.donation__card-number {
  max-width: 85%;

  font-family: "Crimson-Roman", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  padding: 0.5em;
  background: #f1cdb3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  margin-left: 10px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  & svg {
    margin-right: 20px;
  }
}

.donation__text {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
  text-align: center;

  @include media-tablet() {
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
  }
}
