.donation {
  background-color: #f6f6f6;
  align-items: center;

  @include media-desktop() {
    // justify-content: center;
  }
}

.donation__heading {
  outline: 2px dashed yellowgreen;
  text-align: center;

  @include indent();
  letter-spacing: 0.1em;

  @include media-tablet() {
    text-align: left;
  }

  @include media-desktop() {
    max-width: 85%;
  }
}

.donation__flex {
  outline: 3px dashed crimson;

  @include flex();
  flex-direction: column;
  align-items: center;

  @include media-tablet() {
    outline: 3px dashed darkblue;
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-desktop() {
    max-width: 72%;

    margin-right: 183px; // ??
    margin-left: auto;
  }
}

.donation__flex--inner {
  outline: 3px dashed orange;

  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;

  @include media-tablet() {
    max-width: 45%;
    align-items: flex-start;
  }

  @include media-desktop() {
    max-width: 40%;
  }
}

.donation__img {
  display: block;
  object-fit: contain;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet() {
    outline: 2px dashed crimson;
    margin: 0;
    max-width: 45%;
  }

  @include media-desktop() {
    max-width: 60%;
  }
}

.donation__smaill-text {
  font-family: "Playfair Display Regular", serif;
  line-height: 1.1;
  letter-spacing: 0.1em;
  color: #545454;
}

.donation__card-number {
  max-width: 85%;

  font-family: "Crimson-Roman", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  padding: 0.5em;
  background: #f1cdb3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  & svg {
    margin-right: 20px;
  }
}

.donation__text {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
  text-align: center;

  @include media-tablet() {
    text-align-last: left;
  }
}
