.help {
  align-items: center;
  flex-direction: column;
}

.help__heading {
  @include indent();
  padding: 0.2em;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1em;

  @include media-desktop() {
    max-width: 30%;
    margin-top: 40px;
  }
}

.help__list {
  @include indent();
  @include list();
  @include flex();
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  @include media-desktop() {
    justify-content: flex-start;
    padding-left: 45px;
    margin-bottom: 15px;
  }
}

.help__item {
  @include indent();
  flex-basis: 170px;
  min-height: 113px;
  margin-right: 61px;
  margin-bottom: 25px;
}


.help__item:nth-of-type(6) {
  @include media-desktop() {
    margin-left: 90px;
    margin-right: 40px;
  }
}

.help__item:nth-of-type(7) {
  @include media-desktop() {
    margin-right: 80px;
  }
}

.help__item:nth-of-type(8) {
  @include media-desktop() {
    margin-right: 100px;
  }
}

.help__item:last-of-type {
  margin-right: 0;
}

.help__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  color: #545454;
  font-family: "Playfair Display Regular", serif;
  font-size: 20px;
  line-height: 1;

  & p {
    @include indent();
    padding: 1.4em 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 5px #f1cdb3;
    border-radius: 9px;
  }

  &:active {
    opacity: 0.8;
  }
}

.help__icon--collars {
  margin-bottom: 10px;
}
