.help {
  // @include indent();
  align-items: center;
  flex-direction: column;

  @include media-mobile() {
    padding-top: 35px;
  }

  @include mobile-to-tablet {
    // @include indent();
    // padding-top: 75px;
  }

  @include media-tablet() {
    // @include indent();
  }
}

.help__heading {
  @include indent();
  padding: 0.2em;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1em;

  @include media-mobile() {
    font-size: 25px;
    max-width: 80%;
  }

  @include mobile-to-tablet {
    // margin-bottom: 25px;
    // max-width: 50%;
  }

  @include media-tablet() {
    margin-bottom: 20px;
    max-width: 30%;
    margin-top: 40px;
  }

  @include media-desktop() {
    max-width: 30%;
    margin-top: 40px;
  }
}

.help__list {
  @include indent();
  @include list();
  @include flex();
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  @include media-mobile() {
    padding-top: 15px;
    padding-right: 10px;
    // padding-left: 10px;
    // outline: 3px dashed dodgerblue;
    justify-content: space-between;
  }

  @include mobile-to-tablet {
    // justify-content: flex-start;
    // padding-left: 50px;
    // margin-bottom: 55px;
  }

  @include media-tablet() {
    @include indent();
    padding-top: 30px;
  }

  @include media-desktop() {


    padding-left: 45px;
    margin-bottom: 15px;
  }
}

.help__item {
  @include indent();
  flex-basis: 170px;
  min-height: 113px;
  margin-right: 61px;
  margin-bottom: 25px;

  @include media-mobile() {
    @include indent();
    flex-basis: 135px;
    min-height: 118px;
  }
}


.help__item:nth-of-type(6) {
  @include media-desktop() {
    margin-left: 90px;
    margin-right: 40px;
  }
}

.help__item:nth-of-type(7) {
  @include media-desktop() {
    margin-right: 80px;
  }
}

.help__item:nth-of-type(8) {
  @include media-desktop() {
    margin-right: 100px;
  }
}

.help__item:last-of-type {
  margin-right: 0;
}

.help__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  color: #545454;
  font-family: "Playfair Display Regular", serif;
  font-size: 20px;
  line-height: 1;

  & p {
    @include indent();
    padding: 1.4em 0;

    @include media-mobile() {
      padding: 0.7em 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 5px #f1cdb3;
    border-radius: 9px;
  }

  &:active {
    opacity: 0.8;
  }

  @include media-mobile() {
    font-size: 16px;
    line-height: 1.4;

    & svg {
      width: 50px;
      height: 50px;
    }
  }
}

.help__icon--collars {
  margin-bottom: 10px;

  @include media-mobile() {
    margin-bottom: 3px;
  }
}
