.logo {
  font-family: "Playfair Display Regular", serif;
  color: #f1cdb3;
  font-size: 32px;
  line-height: 1.125;
  font-weight: normal;
  text-align: left;

  @include indent();

  & a {
    display: flex;
    flex-direction: column;
  }

  & span {
    // font-family: "Arial", "Helvetica", sans-serif;
    color: #ffffff;
    font-size: 13px;
    line-height: 1;
  }
}

.logo--inner {
  outline: 2px dashed deeppink;
  font-size: 32px;
  color: #545454;
  line-height: 1.1;
  letter-spacing: 0.08em;
  text-align: center;

  & span {
    font-family: "Arial", "Helvetica", sans-serif;
    color: #292929;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 0.8em;
  }
}
