.main-nav {
  @include indent();
  width: 100%;
  max-width: 100%;

  @include media-tablet() {
    max-width: 38%;
    margin-top: 8px;
  }
}

.main-nav__list {
  @include list();
  @include indent();
  @include flex();
  flex-direction: column;

  padding-top: 20px;

  @include media-tablet() {
    flex-direction: row;
    justify-content: space-between;

    @include indent();
  }
}

.main-nav__item {
  @include indent();
  @include flex();
}

.main-nav__link {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #cdcdcd;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}


.main-nav__link--active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 85%;
    left: 5%;
    width: 90%;
    height: 2px;
    background: #f1cdb3;
    border-radius: 1.5px;
  }
}

.main-nav--inner .main-nav__link {
  color: #545454;

  &:hover,
  &:focus {
    color: #000000;
  }

  &:active {
    opacity: 0.8;
  }
}

.main-nav__toggle {
  font-size: 0;
  width: 30px;
  height: 32px;
  cursor: pointer;

  display: flex;
  border: 0 none;
  box-shadow: 0 none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='21' x2='30' y2='21' stroke='black' stroke-width='2'/%3E%3Cline y1='11' x2='30' y2='11' stroke='black' stroke-width='2'/%3E%3Cline y1='1' x2='30' y2='1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  margin: 10px;
  margin-right: 40px;
  margin-top: 20px;
}

.main-nav__toggle--index {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='21' x2='30' y2='21' stroke='%23f1cdb3' stroke-width='2'/%3E%3Cline y1='11' x2='30' y2='11' stroke='%23f1cdb3' stroke-width='2'/%3E%3Cline y1='1' x2='30' y2='1' stroke='%23f1cdb3' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.main-nav__toggle-close {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.514px' height='20.512px' viewBox='0 0 20.514 20.512' enable-background='new 0 0 20.514 20.512' xml:space='preserve'%3E%3Cpolygon fill='%23231F20' points='20.513,1.414 19.099,0 10.256,8.842 1.414,0 0,1.414 8.842,10.256 0,19.098 1.414,20.512 10.256,11.67 19.099,20.512 20.513,19.098 11.671,10.256 '/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
}
