.page-heder {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;

  @include indent();
  padding: 9.375% 3.125%;

  @include flex();
  justify-content: space-between;

  @include media-tablet() {
    padding: 2.4% 3%;
    padding-right: 2%;
  }
}

.page-heder--index {
  padding-top: 60px;
}

.page-heder--inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
