.page-header {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;

  @include indent();
  padding: 9.375% 3.125%;

  @include flex();
  justify-content: space-between;

  @include mobile-to-tablet {
    padding: 1%;
  }

  @include media-tablet() {
    padding: 2.4% 3%;
    padding-right: 2%;
  }
}

.page-header--index {
  padding-top: 60px;

  @include mobile-to-tablet {
    padding-top: 30px;
  }
}

.page-header--inner {
  @include indent();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;

  @include media-tablet() {
    @include indent();
    justify-content: center;
  }
}

.page-header--inner .wrapper {
  @include indent();
  padding: 9.375% 3.125%;

  @include flex();
  justify-content: space-between;

  @include media-tablet() {
    padding: 1.8% 2.3%;
    padding-right: 2%;
  }
}
