.page-header {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;

  @include indent();
  @include flex();
  justify-content: space-between;
  padding: 1%;

  @include media-tablet() {
    padding: 2.4% 3%;
  }
}

.page-header--index {
  @include media-tablet() {
    padding-top: 30px;
  }

  @include media-desktop() {
    padding-top: 60px;
  }
}


.inner .page-header--inner {
  @include indent();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.page-header--inner .wrapper {
  @include indent();
  @include flex();
  justify-content: space-between;

  @include media-desktop() {
    margin-right: auto;
    margin-left: auto;
    padding: 1.8%;
  }
}
