.page-main {
  @include indent();
  width: 100%;
  max-width: 100%;

  @include flex();
}

.page-main--inner {
  padding: 3.125%;
  padding-top: 12%;
  background-color: #f6f6f6;

  // @include flex();
}
