.page-main {
  @include indent();
  width: 100%;
  max-width: 100%;

  @include flex();
}

.page-main--inner {
  padding: 3.125%;
  padding-top: 12%;
  padding-bottom: 1.5%;
  background-color: #f6f6f6;

  @include media-tablet() {
    @include indent();
    padding: 2.4% 3%;
    padding-top: 6.5%;
    padding-bottom: 6%;
  }
}
