.page-main {
  @include indent();
  width: 100%;
  max-width: 100%;

  @include flex();
}

.page-main--inner {
  @include indent();
  padding-top: 128px;
  background-color: #f6f6f6;

  @include mobile-to-tablet() {
    // background-color: deepskyblue;
    padding-top: 128px;
  }

  @include media-custom(600px) {
    // padding-top: 400px;
  }

  @include media-tablet() {
    padding-top: 128px;
  }
}

.page-main--inner .wrapper {
  padding: 3.125%;
  padding-top: 10%;
  padding-bottom: 1.5%;

  @include media-mobile() {
    padding-top: 10.5%;
  }

  @include mobile-to-tablet() {
    // background-color: deepskyblue;
    // padding-top: 4%;
  }

  @include media-tablet() {
    // padding: 2.4%;
    // padding-bottom: 4%;
  }

  @include media-desktop() {
    padding-top: 4%;
  }
}
