.page-footer {
  background-color: #312925;
  background-image: url("../../assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 354px;

  @include indent();
  padding: 3% 10%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .container--top {
    background-image: url("../../assets/img/footer-bg@2x.png");
  }
}

.page-footer__flex {
  @include flex();
  flex-direction: column;
  max-width: 25%;

  @include indent();
}

.page-footer__heading {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;

  @include indent();
  padding: 0.2em;
  margin-bottom: 20px;
}

.page-footer__link {
  outline: 1px dashed yellow;
  font-family: "Crimson-Roman", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding: 0.5em;
  text-decoration: none;

  @include flex();
  flex-wrap: nowrap;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  & svg {
    outline: 2px dashed red;
    fill: currentColor;
    // width: 1.1em;
    // min-height: 1.6em;
    // display: inline-block;
    // vertical-align: middle;
  }

  & span {
    outline: 2px dashed red;
    // display: inline-block;
    // vertical-align: middle;
  }
}
