.presentation {
  @include indent();
}

.presentation__flex {
  @include indent();
  margin-top: 145px;

  @include flex();
  flex-direction: column;

  @include media-tablet() {
    max-width: 40%;
    margin-bottom: 200px;
  }
}

.presentation .presentation__heading {
  font-size: 44px;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.04em;

  @include indent();
  padding: 0.2em 0;
  margin-bottom: 25px;

  @include media-tablet() {
    max-width: 80%;
  }
}

.presentation .presentation__text {
  margin-bottom: 33px;
  padding-right: 10px;
}

.presentation__link {
  @include media-custom(1200px) {
    max-width: 45%;
  }
}
