.slider {
  @include indent();
  margin-bottom: 60px;

  width: 100%;
  max-width: 100%;
  overflow: hidden;

  @include media-mobile() {
    // outline: 3px dashed black;
    margin-bottom: 110px;
  }

  @include mobile-to-tablet {
    // max-width: 90%;
  }

  @include media-tablet() {
    // margin-bottom: 60px;
    max-width: 77.34%;
  }
}

.slider__list {
  @include catalog-list();
  min-width: 990px;
  justify-content: space-between;

  @include mobile-to-tablet {
    justify-content: flex-start;
  }

  @include media-tablet() {
    min-width: 990px;
    padding-left: 0;
    justify-content: space-between;
  }
}

.slider__item {
  @include catalog-item();

  @include mobile-to-tablet {
    margin-right: 35px;
  }

  @include media-tablet() {
    margin-right: 0;
  }
}

.slider__item:first-of-type {
  margin-left: 25px;

  @include media-mobile() {
    margin-left: 10px;
  }

  @include media-tablet() {
    margin-left: 0;
  }
}

.slider__item-link {
  @include catalog__item-link();

  &:hover .slider__item-bottom,
  &:focus .slider__item-bottom {
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }

  @include mobile-to-tablet {
    // width: 80%;
  }
}


.slider__item-bottom {
  @include catalog__item-bottom();
}


.slider__item:last-of-type {
  margin-right: 0;
}

.slider__img {
  @include catalog-img();
}

.slider__name {
  @include catalog-name();

  margin-bottom: 30px;
}

.slider__navlink {
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  top: 48%;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }

  @include media-mobile() {
    top: 77.5%;
  }

  @include mobile-to-tablet {
    // top: 51.6%;
  }

  @include media-tablet() {
    top: 48%;
  }
}

.slider__navlink--back {
  left: 0;

  @include media-mobile() {
    left: 20%;
  }

  @include mobile-to-tablet {
    // left: 2%;
  }

  @include media-tablet() {
    left: 3%;
  }
}

.slider__navlink--forward {
  right: 0;

  @include media-mobile() {
    right: 20%;
  }

  @include mobile-to-tablet {
    // right: 3%;
  }

  @include media-tablet() {
    right: 3%;
  }
}

.slider .slider__item-btn {
  @include catalog-btn();
}
