.slider {
  @include indent();
  margin-bottom: 60px;

  width: 100%;
  max-width: 100%;
  overflow: hidden;

  @include media-tablet() {
    max-width: 77.34%;
  }
}

.slider__list {
  @include catalog-list();
  min-width: 990px;
  justify-content: space-between;

  @include media-tablet() {
    padding-left: 0;
    justify-content: space-between;
  }
}

.slider__item {
  @include catalog-item();
}

.slider__item:first-of-type {
  margin-left: 25px;

  @include media-tablet() {
    margin-left: 0;
  }
}

.slider__item-link {
  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  text-decoration: none;
  color: #545454;

  &:hover .slider__item-bottom,
  &:focus .slider__item-bottom {
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}


.slider__item-bottom {
  width: 100%;
  max-width: 100%;

  @include indent();
  padding: 11% 14%;

  @include flex();
  flex-direction: column;
  align-items: center;
}


.slider__item:last-of-type {
  margin-right: 0;
}

.slider__img {
  @include catalog-img();
}

.slider__name {
  @include catalog-name();

  margin-bottom: 30px;
}

.slider__navlink {
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  top: 48%;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }
}

.slider__navlink--back {
  left: 0;

  @include media-tablet() {
    left: 3%;
  }
}

.slider__navlink--forward {
  right: 0;

  @include media-tablet() {
    right: 3%;
  }
}

.slider .slider__item-btn {
  @include catalog-btn();

}
