.slider {
  outline: 2px dashed deeppink;

  @include indent();
  margin-bottom: 40px;
  position: relative;
}

.slider__list {
  @include indent();
  @include list();
  @include flex();
  justify-content: space-between;
}

.slider__item {
  outline: 2px dashed dodgerblue;

  @include indent();
  padding: 2%;
  width: 270px;
  min-height: 424px;

  margin-right: 40px;

  @include flex();
  flex-direction: column;
  align-items: center;
}

.slider__item:last-of-type {
  margin-right: 0;
}

.slider__img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 240px;
  object-fit: contain;
}

.slider__name {
  @include indent();
  padding: 0.5em;
  font-family: "Playfair Display Regular", serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.slider__navlink {
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }
}

.slider__navlink--back {
  left: -100px;
}

.slider__navlink--forward {
  right: -100px;
}

.slider .slider__item-btn {
  border: 2px solid #f1cdb3;
  background-color: transparent;
  padding: 0.5em 1em;

  &:hover,
  &:focus {
    background-color: #f1cdb3;
  }

  &:active {
    opacity: 0.8;
  }
}
