.wrapper {
  width: 100%;
  max-width: $desktop-width;
  min-width: $mobile-width;
  height: auto;

  @include indent();
  margin-right: auto;
  margin-left: auto;
}

.wrapper--inner {
  padding-top: 120px;
}
