@mixin media-mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin mobile-to-tablet {
  @media screen and (min-width: 321px) and (max-width: 767px) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin media-custom($width) {
  @media (min-width: $width) {
    @content;
  }
}
