@mixin indent() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin catalog-list() {
  @include indent();
  @include list();
  @include flex();
}

@mixin catalog-item() {
  @include indent();
  border-radius: 9px;

  @include flex();
  flex-direction: column;

  max-width: 270px;
  min-height: 435px;
}

@mixin catalog__item-bottom() {
  width: 100%;
  max-width: 100%;

  @include indent();
  padding: 11% 14%;

  @include flex();
  flex-direction: column;
  align-items: center;
}

@mixin catalog__item-link() {
  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  text-decoration: none;
  color: #545454;
}

@mixin catalog-img() {
  display: block;
  min-height: 270px;
}

@mixin catalog-name() {
  @include indent();
  font-family: "Playfair Display Regular", serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.1em;
}

@mixin catalog-btn() {
  border: 2px solid #f1cdb3;
  background-color: transparent;
  padding: 0.8em 2.7em;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.08em;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #fddcc4;
  }

  &:active {
    opacity: 0.8;
  }
}
